aenum==3.1.17
agate==1.9.1
alembic==1.18.5
annotated-doc==0.0.4
annotated-types==0.7.0
antlr4-python3-runtime==4.13.2
anyio==4.14.1
attrs==26.1.0
Authlib==1.7.2
babel==2.18.0
backoff==2.2.1
certifi==2026.6.17
cffi==2.0.0
charset-normalizer==3.4.7
click==8.4.2
colorama==0.4.6
coloredlogs==14.0
contourpy==1.3.3
cryptography==49.0.0
cycler==0.12.1
dacite==1.9.2
daff==1.4.2
dagster==1.13.11
dagster-graphql==1.13.11
dagster-pipes==1.13.11
dagster-shared==1.13.11
dagster-webserver==1.13.11
dbt-adapters==1.24.2
dbt-common==1.38.0
dbt-core==1.12.0b3
dbt-core-experimental-parser==2.0.0a2
dbt-extractor==0.6.0
dbt-postgres==1.10.2
dbt-protos==1.0.514
dbt-state==2.23.6
deepdiff==8.6.2
docstring_parser==0.18.0
fastapi==0.138.2
filelock==3.29.4
fonttools==4.63.0
fsspec==2026.6.0
gql==4.0.0
graphene==3.4.3
graphql-core==3.2.11
graphql-relay==3.2.0
grpcio==1.81.1
grpcio-health-checking==1.81.1
h11==0.16.0
httptools==0.8.0
humanfriendly==10.0
humanize==4.15.0
idna==3.18
importlib_metadata==9.0.0
isodate==0.7.2
Jinja2==3.1.6
joserfc==1.7.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
kiwisolver==1.5.0
leather==0.4.1
Mako==1.3.12
markdown-it-py==4.2.0
MarkupSafe==3.0.3
mashumaro==3.17
matplotlib==3.11.0
mdurl==0.1.2
metricflow==0.211.0
more-itertools==10.8.0
mpmath==1.3.0
msgpack==1.2.1
multidict==6.7.1
networkx==3.6.1
numpy==2.4.6
nvidia-ml-py==13.610.43
opencv-python==4.13.0.92
orderly-set==5.5.0
packaging==26.2
pandas==3.0.4
parsedatetime==2.6
pathlib_abc==0.5.2
pathspec==1.0.4
pillow==12.2.0
platformdirs==4.10.0
polars==1.42.0
polars-runtime-32==1.42.0
propcache==0.5.2
protobuf==6.33.6
psutil==7.2.2
psycopg2-binary==2.9.12
pyaes==1.6.1
pyasn1==0.6.3
pycparser==3.0
pydantic==2.13.4
pydantic_core==2.46.4
Pygments==2.20.0
pyparsing==3.3.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python-slugify==8.0.4
pytimeparse==1.1.8
pytimeparse2==1.7.1
pytz==2026.2
PyYAML==6.0.3
query-cache-common==1.9.2
query-cache-protobuf==1.6.0
RapidFuzz==3.14.5
referencing==0.37.0
requests==2.34.2
requests-toolbelt==1.0.0
rich==15.0.0
rpds-py==2026.5.1
rsa==4.9.1
six==1.17.0
snowplow-tracker==1.1.0
SQLAlchemy==2.0.51
sqlglot==30.12.0
sqlparse==0.5.5
starlette==1.3.1
structlog==26.1.0
sympy==1.14.0
tabulate==0.10.0
Telethon==1.44.0
text-unidecode==1.3
tomli==2.4.1
tomlkit==0.15.0
toposort==1.10
torch==2.12.1
torchvision==0.27.1
tqdm==4.68.3
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2026.2
ultralytics==8.4.82
ultralytics-thop==2.0.20
universal_pathlib==0.3.10
urllib3==2.7.0
uvicorn==0.49.0
uvloop==0.22.1
watchdog==6.0.0
watchfiles==1.2.0
websockets==16.0
yarl==1.24.2
zipp==4.1.0
